<VirtualHost *:8050>
  ServerName $HOSTNAME
  <Directory />
    <IfModule disp_apache2.c>
        ModMimeUsePathInfo On
        # enable dispatcher for ALL request. if this is too restrictive,
        # move it to another location
        SetHandler dispatcher-handler
    </IfModule>

    Options FollowSymLinks
    AllowOverride none

    Require all denied
        Header always append X-Frame-Options SAMEORIGIN
   </Directory>
   RewriteEngine On

   ErrorDocument 500 /error/server-error.html
   ErrorDocument 502 /error/service-unavailable.html
   ErrorDocument 503 /error/service-unavailable.html
   ErrorDocument 404 /error/page-not-found.html

   RewriteRule ^/robots.txt$ /content/tda/retail/intl/singapore/robots.txt [PT]

   RewriteRule ^/$ /content/tda/retail/intl/singapore/en-us.html [PT]

   RewriteRule ^/sitemap.xml$ /content/tda/retail/intl/singapore/en-us.sitemap.xml [PT,L]

   RewriteRule ^/(.*).html?$ /content/tda/retail/intl/singapore/en-us/$1.html [PT,L]
   
   RewriteCond %{REQUEST_URI} !^/apps
   RewriteCond %{REQUEST_URI} !^/conf
   RewriteCond %{REQUEST_URI} !^/content/
   RewriteCond %{REQUEST_URI} !^/etc
   RewriteCond %{REQUEST_URI} !^/home
   RewriteCond %{REQUEST_URI} !^/system
   RewriteCond %{REQUEST_URI} !^/libs
   RewriteCond %{REQUEST_URI} !^/tmp
   RewriteCond %{REQUEST_URI} !^/var
   RewriteRule ^/(.*)$ /content/$1 [PT]
   
   RewriteRule \.(css|jpe?g|gif|png|js)$ - [L]
</VirtualHost>
